<!DOCTYPE html>
<html>
<div class="intro-div">
  <h1>
    {{ title }}!
  </h1>

</div>
<div>
  <ul>
    <li class="list-style">
      <button value="Shuffle" id="shuffle">Shuffle</button>
    </li>
    <li class="list-style">
      <button value="Reset" id="reset">Reset</button>
    </li>
    <li class="list-style">
      <button value="Deal one" id="dealOne" mat-raised-button [disabled]="isDisabled">DealOneCard </button>
      <label *ngIf="isEdited">Cards Left :{{cardsLeft+1}}</label>
    </li>
  </ul>
</div>
<div id="cardGallery"></div>
<router-outlet></router-outlet>
</html>
